CREATE DATABASE [Demo1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demo1', FILENAME = N'C:\SQLServerData\MSSQL11.MSSQLSERVER\MSSQL\DATA\Demo1.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Demo1_log', FILENAME = N'C:\SQLServerData\MSSQL11.MSSQLSERVER\MSSQL\DATA\Demo1_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [Demo1]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Demo1] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
